{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <label for="stocks">Stock's in your wallet</label>
        <select id="symbol" name="symbol">
                <option value="default"></option>
            {% for row in stocks_owned %}
                <option value="{{ row['stock'] }}">{{ row['stock'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" min="1" autocomplete="off">
    </div>
    <button class="btn btn-primary" type="submit">Trade</button>
</form>
{% endblock %}
